/*INDEX*/
.contenidos{
	width:100%;
	height:100%;
	text-align:center;
}
.grupos{
	width:30%;
        float:left;
	text-align:center;
}


/*TABLAS*/
.fila_par{
	background-color:#888888;
}

.fila_impar{
	background-color:#CCCCCC;
}

.tablas{
	margin: 0 auto;
}

.botones{
	margin:0; 
	padding:0;
}

.contenedor_tablas{
	width=100%;
	height=100%;
	text-align:center;
}
